@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,400;0,500;0,600;1,300 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section#snkrs{
    background: #f3f2f2de;
    padding: .1rem;
}

#imgsr{
    margin-left: .8rem;
    padding: .4rem;
    letter-spacing: 20px;
    text-indent: 15px;
}

header{
    position: fixed;
    width: 100%;
    top: 13px;
    right: 40px;
    z-index: 1000;
    transition: 0.2s;
    font-size: .8rem;
}

#nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav ul {
    list-style: none;
}

#nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 
}

#logonike{
    margin-left: 30px;
    padding: .6rem;
    margin-top: 1.2rem;
}

section#header{
    width: 100%;
    top: 69px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
}

#navegation ul{
    list-style: none;
}

#navegation li{
    word-spacing: 36px;
}

#navegation a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}


#procurar{ 
    position: fixed;
    width: 100%;
    top: 60px;
    right: 160px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

#search {
    width: 165px; /* Ajuste a largura conforme necessário */
    padding: 12px; /* Ajuste o preenchimento conforme necessário */
    transition: background-color 0.3s; /* Adiciona uma transição suave para a mudança de cor de fundo */
    border-radius: 30px;
    border: none;
    background-color: rgba(226, 225, 225, 0.380);
  }
  
  #search:hover {
    background-color: #d3d3d3; /* Altera a cor de fundo ao passar o mouse sobre o input */
  }
  
  .icon {
    background-image: url(../imagens/search_FILL0_wght400_GRAD0_opsz24.png);
    background-size: 21px 21px; /* Ajuste o tamanho do ícone conforme necessário */
    background-position: calc(9px);
    background-repeat: no-repeat;
    padding-right: 30px; /* Adiciona espaço à direita do input para o ícone */
  }
  
  ::placeholder{
    padding-left: 30px;
}

.favorito {
    position: fixed;
    top: 66px;
    right: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.favorito:hover{
    background: #d3d3d379;
    border-radius: 50%;
    cursor: pointer;
}

.sacola{
    position: fixed;
    top: 66px;
    right: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.sacola:hover{
    background: #d3d3d379;
    border-radius: 50%;
    cursor: pointer;
}


#slide{
    background-color: #f3f2f2de;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
   margin-top: 25px;
}

.slideimg{
    width: 2%;
}

span.cartao{
    font-weight: bolder;
}

.linkum{
    color: #707070;
}


